# Third-party modules, albeit modified somewhat for Launchpad.
lib/lp/app/javascript/ellipsis.js
lib/lp/app/javascript/gallery-accordion/gallery-accordion.js
lib/lp/app/javascript/mustache.js
lib/lp/app/javascript/sorttable/sorttable.js

# Minified third-party files.
lib/lp/app/tour/jquery-*.pack.js
lib/lp/app/tour/selector.js
