Source: launchpad-buildd
Section: admin
Priority: extra
Maintainer: Adam Conrad <adconrad@ubuntu.com>
Standards-Version: 3.5.9
Build-Depends-Indep: debhelper (>= 4)

Package: launchpad-buildd
Section: misc
Architecture: all
Depends: python-twisted, debootstrap, dpkg-dev, linux32, file, bzip2, sudo, ntpdate, adduser
Description: Launchpad buildd slave
 This is the launchpad buildd slave package. It contains everything needed to
 get a launchpad buildd going apart from the database manipulation required to
 tell launchpad about the slave instance. If you are creating more than one
 slave instance on the same computer, be sure to give them independant configs
 and independant filecaches etc.
