body { font-size: medium }

div.figure-body, div.figure-caption { text-align: center }

div.figure-caption {
    font-size: small;
    margin-top: 0.5em;
}

div.big-figure {
    margin-top: 1.3em;
    margin-bottom: 1.3em;
}

.dark-red { color: #900 }

.red { color: #F00 }

span.small-caps { font-variant: small-caps }

div.error { font-size: large; color: red; }

h1 { text-align: center }

dt { font-weight: bold }
