<div class="listing">
{{#bugtasks}}
  <div class="buglisting-row">

    <div class="buglisting-col1">
        <div class="importance {{importance_class}}">
          {{importance}}
        </div>
        <div class="status {{status_class}}">
            {{status}}
        </div>
    </div>

    <div class="buglisting-col2">
        <div class="buginfo">
            <span class="bugnumber">#{{id}}</span>
            <a href="{{bug_url}}" class="bugtitile">{{title}}</a>
        </div>
        <div class="buginfo-extras">
            <div class="{{bugtarget_css}}">
              {{bugtarget}}
            </div>
        </div>
    </div>

    <div class="buglisting-col3">
        <span class="bug-heat-icons">
             {{{bug_heat_html}}}
        </span>
        <span class="bug-related-icons">
            {{{badges}}}
        </span>
    </div>

  </div>
{{/bugtasks}}
</div>
